# Node modules
node_modules/

# Env files (very important)
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build output
dist/
build/

# MacOS
.DS_Store

# VSCode
.vscode/
